<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Index file</h1>
    <a href="/">Index</a>
    <a href="/address">address</a>
    <a href="/contact">contact</a>
    <a href="/email">email</a>
    <a href="/gender">gender</a>
   
</body>
</html>